.autenticacion__main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    margin:0;
    height: 100vh;
    width: 100vw;
}

.autenticacion__box-container {
    background-color: white;
    box-shadow: 0px, 3px $dark-grey;
    border-radius: 2px;
    padding: 20px;
    width: 250px;
}

.autenticacion__title{
    color: darken($color: $primary, $amount: 20); /* esto me permite tomar un color y hacerlo mas oscuro */
    margin-bottom: 20px;
}

.autenticacion__input {
    color: $dark-grey;
    border: 0;
    border-bottom: 1px solid $light-grey;
    font-size: 16px;
    margin-bottom: 10px;
    height: 20px;
    width: 100%;

    transition: border-bottom .3s ease;

    &:focus {
        border-bottom: 1px solid $primary;
        outline: none;
    }

}

.autenticacion__social-networks{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.autenticacion__alert-error {
    background-color: red;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px;
}